body {
  font-family: 'Trebuchet MS', Verdana, Tahoma, sans-serif;
  background: url('img/bg_forest.png');
}

#canvas {
  display: none;
}

#game_box {
  text-align: center;
  margin: auto;
  width: 726px;
  position: relative;
}

#player1 h3, #player2 h3 {
  margin: 0 5px;
  border-bottom: 1px dotted black;
}

#player1 h3 {
  background: url('img/ball_blue.png') no-repeat;
  padding-left: 28px;
  padding-top: 3px;
}

#player2 h3 {
  background: url('img/ball_red.png') no-repeat 100% 0;
  padding-right: 28px;
  padding-top: 3px;
}


ul.items {
  padding-left: 0;
}
ul.items li {
  list-style: none;
  padding: 3px;
}

img {
  vertical-align: middle;
}

.item_icon {
  height: 24px;
  width: 24px;
}

#player1, #player2 {
  width: 496px;
  height: 292px;
  background: url('img/player1_box.png') no-repeat;
  padding: 40px;
  padding-right: 46px;
  padding-top: 67px;
  position: absolute;
}
#player1 {
  border: 0px solid green;
  background: url('img/player1_box.png') no-repeat;
  left: 0;
  text-align: left;
}

#player2 {
  border: 0px solid red;
  background: url('img/player2_box.png') no-repeat;
  right: 0;
  text-align: right;
}

#game {
  border: 0px solid blue;
  margin: auto;
  width: 648px;
  height: 378px;
  background: url('img/forest.png') no-repeat;
  padding: 39px;
  position: absolute;
}

#player1 .item_icon {
  float: left;
}

#player2 .item_icon {
  float: right;
}

.outer_timer {
  border: 1px solid #222;
  height: 12px;
  width: 48px;
  opacity: 0.5;
  margin: auto;
  position: relative;
  top: 6px;
}
.inner_timer {
  background: #222;
  height: 12px;
  width: 100%;
}

#player1 .outer_timer {
  margin-left: 32px;
}

#player2 .outer_timer {
  margin-right: 32px;
}

.box {
  display: none;
  font-size: 1.2em;
  margin: auto;
  color: black;
  width: 300px;
  padding: 40px 10px;
  background: #4A4;
  text-align: center;
  border: 1px solid #030;

  background-image: -moz-linear-gradient(top, #204C07, #099721);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#204C07), to(#099721));
  opacity: 0.8;
}

a#play_button {
  display: block;
  background: url('img/play_button.png') no-repeat;
  width: 237px;
  height: 101px;
  margin: auto;
  margin-top: 139px;
}

a.replay_button {
  display: block;
  background: url('img/replay_button.png') no-repeat;
  width: 130px;
  height: 47px;
  margin: auto;
  margin-top: 40px;
}

#sounds {
  display: none;
}